body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

#auth,
#todo {
    margin-bottom: 20px;
}

input,
button {
    margin: 5px;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
